include LICENSE.txt
include README.rst
recursive-include govuk_template/management/commands/govuk_base_template *.py-tpl
recursive-include govuk_template/management/commands/govuk_base_template *.rst
