include LICENSE.txt
include README.rst
recursive-include govuk_template_base/management/commands/govuk_template_base *.py-tpl
recursive-include govuk_template_base/management/commands/govuk_template_base *.rst
