<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        {% for link in links %}
            {% if forloop.last %}
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    {{ link.name }}
                </li>
            {% else %}
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="{{ link.url }}">
                        {{ link.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
