{% extends 'govuk_template/template.html' %}
{% load static %}
{% load govuk_template_base %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'demo_service/demo.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Demo template</h1>

    <h2 class="govuk-heading-m">Page list</h2>
    {% page_list 2 50 %}
    <hr class="govuk-section-break--l" />

    <h2 class="govuk-heading-m">Pagination</h2>
    {% pagination prev_title='Home' prev_url='#prev' next_title='Page 1' next_url='#next' %}
    <hr class="govuk-section-break--l" />

    <h2 class="govuk-heading-m">Disclosure</h2>
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Click for more information</span>
        </summary>
        <div class="govuk-details__text">
            <p>Lorem ipsum dolor sit amet…</p>
        </div>
    </details>
{% endblock %}
